@import './base.css';

#app {
  --uwuc-green: hsla(160, 100%, 37%, 1);
  --uwcu-green-bg: hsla(160, 100%, 37%, 0.2);

  min-width: 700px;
  max-width: 1400px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--uwuc-green);
  transition: 0.4s;
}

a.btn {
  display: inline-block;
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
}

a.btn.btn-danger {
  color: red;
}

table {
  border-collapse: collapse;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--uwcu-green-bg);
  }

  a.btn.btn-danger:hover {
    background-color: rgba(220,20,60, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
